<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="createcontent2">
            <h2>Oh My Goodness The Content Can Not Be Found</h2>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>