<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="createcontent">
            <h1>What is my QAP?? </h1>
            <h2>This will be a small program to call information about videogames from a database the date is broke down into <span>Game Title</span> and <span>Game Genre</span> </h2>

        </div>
      
    </body>
    <%- include('./partials/foot.ejs') %>
</html>